@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
    Bacon ipsum dolor amet chicken prosciutto venison brisket chislic shankle. Pastrami tail shoulder kevin. Tail strip steak buffalo pastrami, meatball filet mignon ball tip pork chop tri-tip tenderloin capicola jowl boudin. Beef ribs salami doner pork belly bacon. Salami tongue pig, doner andouille tail turducken pancetta sirloin. Cow alcatra hamburger pork belly doner.
    </p>
    <p>
    Tri-tip corned beef biltong hamburger fatback, cow spare ribs chuck shankle bresaola andouille short loin doner. Prosciutto sausage jerky beef frankfurter bacon chislic capicola strip steak tenderloin shoulder salami. Andouille sausage doner bresaola salami tongue, short loin tenderloin shoulder brisket capicola buffalo boudin. Doner tongue chicken kielbasa ham hock drumstick ball tip tri-tip turducken chislic sirloin bacon picanha sausage. Alcatra ham hock bresaola buffalo sausage meatloaf. Frankfurter sausage rump short loin pig boudin. Sirloin shankle pancetta capicola pork belly pork, tongue kevin jowl leberkas.
    </p>
    <p>
    Rump shankle shoulder, brisket pastrami capicola spare ribs fatback chuck ham meatball ham hock pork. Ground round tail burgdoggen short loin alcatra cupim meatball. Ball tip ground round pastrami turkey, meatball pork loin jerky turducken. Brisket corned beef doner rump, short loin meatball shoulder. Beef ribs shankle sausage pancetta boudin ribeye.
    </p>
    <p></p>
    <img src="https://media1.tenor.com/m/xtGE6fg_IxcAAAAC/elmo-fire.gif" />
    <p></p>
    <p>
    Short ribs brisket cow biltong tail sausage. Tail kielbasa doner, flank bacon cupim pig filet mignon biltong rump tongue. Kevin jerky capicola chislic tenderloin picanha. Kielbasa corned beef filet mignon strip steak shank frankfurter salami prosciutto turkey pork burgdoggen. Doner chuck frankfurter swine, pork belly ribeye tongue chislic turducken brisket leberkas meatloaf picanha alcatra. Cupim meatball buffalo alcatra fatback ham hock tenderloin pig kevin drumstick.
    </p>
    <p>
    Leberkas prosciutto sirloin ham biltong pastrami ball tip buffalo pork belly hamburger tri-tip andouille. Alcatra chuck rump beef ribs t-bone pork chop ground round flank. Drumstick short loin biltong, strip steak spare ribs turkey jowl salami tenderloin pancetta. Porchetta prosciutto ball tip bresaola drumstick shank filet mignon tongue.
    </p>
</div>
